{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Неверная ссылка</title>
</head>
<body>
    {% block content %}
    <h1>Неверная ссылка</h1>
    <p>Ссылка для подтверждения регистрации недействительна. Пожалуйста, проверьте вашу ссылку или запросите новую.</p>
    <!-- Здесь вы можете добавить любой другой контент по вашему усмотрению -->
    {% endblock content %}
</body>
</html>
